/* Keyframes */
@keyframes ani-fade-in{from{opacity:0}to{opacity:1}}
@keyframes ani-fade-up{from{opacity:0;transform:translate3d(0,40px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-up-sm{from{opacity:0;transform:translate3d(0,20px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-up-lg{from{opacity:0;transform:translate3d(0,100px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-down{from{opacity:0;transform:translate3d(0,-40px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-down-sm{from{opacity:0;transform:translate3d(0,-20px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-down-lg{from{opacity:0;transform:translate3d(0,-100px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-left{from{opacity:0;transform:translate3d(40px,0,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-left-sm{from{opacity:0;transform:translate3d(20px,0,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-right{from{opacity:0;transform:translate3d(-40px,0,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-right-sm{from{opacity:0;transform:translate3d(-20px,0,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-up-left{from{opacity:0;transform:translate3d(40px,40px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-up-right{from{opacity:0;transform:translate3d(-40px,40px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-down-left{from{opacity:0;transform:translate3d(40px,-40px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-fade-down-right{from{opacity:0;transform:translate3d(-40px,-40px,0)}to{opacity:1;transform:translate3d(0,0,0)}}
@keyframes ani-zoom-in{from{opacity:0;transform:scale3d(.3,.3,.3)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-zoom-in-sm{from{opacity:0;transform:scale3d(.85,.85,.85)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-zoom-in-lg{from{opacity:0;transform:scale3d(0,0,0)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-zoom-out{from{opacity:0;transform:scale3d(1.3,1.3,1.3)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-zoom-out-sm{from{opacity:0;transform:scale3d(1.1,1.1,1.1)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-zoom-out-lg{from{opacity:0;transform:scale3d(2,2,2)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-zoom-in-up{from{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,1000px,0)}to{opacity:1;transform:scale3d(1,1,1) translate3d(0,0,0)}}
@keyframes ani-zoom-in-down{from{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0)}to{opacity:1;transform:scale3d(1,1,1) translate3d(0,0,0)}}
@keyframes ani-slide-in-up{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-in-down{from{transform:translate3d(0,-100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-in-left{from{transform:translate3d(-100%,0,0);visibility:visible}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-in-right{from{transform:translate3d(100%,0,0);visibility:visible}to{transform:translate3d(0,0,0)}}
@keyframes ani-bounce-in{0%{opacity:0;transform:scale3d(.3,.3,.3)}20%{transform:scale3d(1.1,1.1,1.1)}40%{transform:scale3d(.9,.9,.9)}60%{opacity:1;transform:scale3d(1.03,1.03,1.03)}80%{transform:scale3d(.97,.97,.97)}to{opacity:1;transform:scale3d(1,1,1)}}
@keyframes ani-bounce-up{from{opacity:0;transform:translate3d(0,3000px,0) scaleY(5)}60%{opacity:1;transform:translate3d(0,-20px,0) scaleY(.9)}75%{transform:translate3d(0,10px,0) scaleY(.95)}90%{transform:translate3d(0,-5px,0) scaleY(.98)}to{transform:translate3d(0,0,0)}}
@keyframes ani-bounce-down{0%{opacity:0;transform:translate3d(0,-3000px,0) scaleY(3)}60%{opacity:1;transform:translate3d(0,25px,0) scaleY(.9)}75%{transform:translate3d(0,-10px,0) scaleY(.95)}90%{transform:translate3d(0,5px,0) scaleY(.98)}to{transform:translate3d(0,0,0)}}
@keyframes ani-bounce-left{0%{opacity:0;transform:translate3d(3000px,0,0) scaleX(3)}60%{opacity:1;transform:translate3d(-25px,0,0)}75%{transform:translate3d(10px,0,0)}90%{transform:translate3d(-5px,0,0)}to{transform:translate3d(0,0,0)}}
@keyframes ani-bounce-right{0%{opacity:0;transform:translate3d(-3000px,0,0) scaleX(3)}60%{opacity:1;transform:translate3d(25px,0,0)}75%{transform:translate3d(-10px,0,0)}90%{transform:translate3d(5px,0,0)}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-bounce-up{0%{opacity:0;transform:translate3d(0,3000px,0)}60%{opacity:1;transform:translate3d(0,-20px,0)}75%{transform:translate3d(0,10px,0)}90%{transform:translate3d(0,-5px,0)}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-bounce-down{0%{opacity:0;transform:translate3d(0,-3000px,0)}60%{opacity:1;transform:translate3d(0,25px,0)}75%{transform:translate3d(0,-10px,0)}90%{transform:translate3d(0,5px,0)}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-bounce-left{0%{opacity:0;transform:translate3d(3000px,0,0)}60%{opacity:1;transform:translate3d(-25px,0,0)}75%{transform:translate3d(10px,0,0)}90%{transform:translate3d(-5px,0,0)}to{transform:translate3d(0,0,0)}}
@keyframes ani-slide-bounce-right{0%{opacity:0;transform:translate3d(-3000px,0,0)}60%{opacity:1;transform:translate3d(25px,0,0)}75%{transform:translate3d(-10px,0,0)}90%{transform:translate3d(5px,0,0)}to{transform:translate3d(0,0,0)}}
@keyframes ani-flip-x{from{transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0}40%{transform:perspective(400px) rotate3d(1,0,0,-20deg)}60%{transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1}80%{transform:perspective(400px) rotate3d(1,0,0,-5deg)}to{transform:perspective(400px)}}
@keyframes ani-flip-y{from{transform:perspective(400px) rotate3d(0,1,0,90deg);opacity:0}40%{transform:perspective(400px) rotate3d(0,1,0,-20deg)}60%{transform:perspective(400px) rotate3d(0,1,0,10deg);opacity:1}80%{transform:perspective(400px) rotate3d(0,1,0,-5deg)}to{transform:perspective(400px)}}
@keyframes ani-rotate-in-cw{from{transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform:translate3d(0,0,0);opacity:1}}
@keyframes ani-rotate-in-ccw{from{transform:rotate3d(0,0,1,200deg);opacity:0}to{transform:translate3d(0,0,0);opacity:1}}
@keyframes ani-rotate-up{from{transform-origin:center bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:center bottom;transform:translate3d(0,0,0);opacity:1}}
@keyframes ani-rotate-down{from{transform-origin:center bottom;transform:rotate3d(0,0,1,-45deg);opacity:0}to{transform-origin:center bottom;transform:translate3d(0,0,0);opacity:1}}
@keyframes ani-blur-in{from{filter:blur(20px);opacity:0}to{filter:blur(0);opacity:1}}
@keyframes ani-blur-in-sm{from{filter:blur(5px);opacity:0}to{filter:blur(0);opacity:1}}
@keyframes ani-blur-in-lg{from{filter:blur(50px);opacity:0}to{filter:blur(0);opacity:1}}
@keyframes ani-blur-out{from{filter:blur(0);opacity:1}to{filter:blur(20px);opacity:0}}
@keyframes ani-shake-h{from,to{transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{transform:translate3d(-10px,0,0)}20%,40%,60%,80%{transform:translate3d(10px,0,0)}}
@keyframes ani-shake-v{from,to{transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{transform:translate3d(0,-10px,0)}20%,40%,60%,80%{transform:translate3d(0,10px,0)}}
@keyframes ani-pulse{from{transform:scale3d(1,1,1)}50%{transform:scale3d(1.07,1.07,1.07)}to{transform:scale3d(1,1,1)}}
@keyframes ani-swing{20%{transform:rotate3d(0,0,1,15deg)}40%{transform:rotate3d(0,0,1,-10deg)}60%{transform:rotate3d(0,0,1,5deg)}80%{transform:rotate3d(0,0,1,-5deg)}to{transform:rotate3d(0,0,1,0deg)}}
@keyframes ani-jello{from,11.1%,to{transform:translate3d(0,0,0)}22.2%{transform:skewX(-12.5deg) skewY(-12.5deg)}33.3%{transform:skewX(6.25deg) skewY(6.25deg)}44.4%{transform:skewX(-3.125deg) skewY(-3.125deg)}55.5%{transform:skewX(1.5625deg) skewY(1.5625deg)}66.6%{transform:skewX(-.78125deg) skewY(-.78125deg)}77.7%{transform:skewX(.390625deg) skewY(.390625deg)}88.8%{transform:skewX(-.1953125deg) skewY(-.1953125deg)}}
@keyframes ani-wobble{from{transform:translate3d(0,0,0)}15%{transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)}30%{transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg)}45%{transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)}60%{transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg)}75%{transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)}to{transform:translate3d(0,0,0)}}
@keyframes ani-rubber-band{from{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}to{transform:scale3d(1,1,1)}}

/* Selectors */
[data-ani="fade-in"].ani-running{animation-name:ani-fade-in}
[data-ani="fade-up"].ani-running{animation-name:ani-fade-up}
[data-ani="fade-up-sm"].ani-running{animation-name:ani-fade-up-sm}
[data-ani="fade-up-lg"].ani-running{animation-name:ani-fade-up-lg}
[data-ani="fade-down"].ani-running{animation-name:ani-fade-down}
[data-ani="fade-down-sm"].ani-running{animation-name:ani-fade-down-sm}
[data-ani="fade-down-lg"].ani-running{animation-name:ani-fade-down-lg}
[data-ani="fade-left"].ani-running{animation-name:ani-fade-left}
[data-ani="fade-left-sm"].ani-running{animation-name:ani-fade-left-sm}
[data-ani="fade-right"].ani-running{animation-name:ani-fade-right}
[data-ani="fade-right-sm"].ani-running{animation-name:ani-fade-right-sm}
[data-ani="fade-up-left"].ani-running{animation-name:ani-fade-up-left}
[data-ani="fade-up-right"].ani-running{animation-name:ani-fade-up-right}
[data-ani="fade-down-left"].ani-running{animation-name:ani-fade-down-left}
[data-ani="fade-down-right"].ani-running{animation-name:ani-fade-down-right}
[data-ani="zoom-in"].ani-running{animation-name:ani-zoom-in}
[data-ani="zoom-in-sm"].ani-running{animation-name:ani-zoom-in-sm}
[data-ani="zoom-in-lg"].ani-running{animation-name:ani-zoom-in-lg}
[data-ani="zoom-out"].ani-running{animation-name:ani-zoom-out}
[data-ani="zoom-out-sm"].ani-running{animation-name:ani-zoom-out-sm}
[data-ani="zoom-out-lg"].ani-running{animation-name:ani-zoom-out-lg}
[data-ani="zoom-in-up"].ani-running{animation-name:ani-zoom-in-up}
[data-ani="zoom-in-down"].ani-running{animation-name:ani-zoom-in-down}
[data-ani="slide-in-up"].ani-running{animation-name:ani-slide-in-up}
[data-ani="slide-in-down"].ani-running{animation-name:ani-slide-in-down}
[data-ani="slide-in-left"].ani-running{animation-name:ani-slide-in-left}
[data-ani="slide-in-right"].ani-running{animation-name:ani-slide-in-right}
[data-ani="bounce-in"].ani-running{animation-name:ani-bounce-in}
[data-ani="bounce-up"].ani-running{animation-name:ani-bounce-up}
[data-ani="bounce-down"].ani-running{animation-name:ani-bounce-down}
[data-ani="bounce-left"].ani-running{animation-name:ani-bounce-left}
[data-ani="bounce-right"].ani-running{animation-name:ani-bounce-right}
[data-ani="slide-bounce-up"].ani-running{animation-name:ani-slide-bounce-up}
[data-ani="slide-bounce-down"].ani-running{animation-name:ani-slide-bounce-down}
[data-ani="slide-bounce-left"].ani-running{animation-name:ani-slide-bounce-left}
[data-ani="slide-bounce-right"].ani-running{animation-name:ani-slide-bounce-right}
[data-ani="flip-x"].ani-running{animation-name:ani-flip-x}
[data-ani="flip-y"].ani-running{animation-name:ani-flip-y}
[data-ani="rotate-in-cw"].ani-running{animation-name:ani-rotate-in-cw}
[data-ani="rotate-in-ccw"].ani-running{animation-name:ani-rotate-in-ccw}
[data-ani="rotate-up"].ani-running{animation-name:ani-rotate-up}
[data-ani="rotate-down"].ani-running{animation-name:ani-rotate-down}
[data-ani="blur-in"].ani-running{animation-name:ani-blur-in}
[data-ani="blur-in-sm"].ani-running{animation-name:ani-blur-in-sm}
[data-ani="blur-in-lg"].ani-running{animation-name:ani-blur-in-lg}
[data-ani="blur-out"].ani-running{animation-name:ani-blur-out}
[data-ani="shake-h"].ani-running{animation-name:ani-shake-h}
[data-ani="shake-v"].ani-running{animation-name:ani-shake-v}
[data-ani="pulse"].ani-running{animation-name:ani-pulse}
[data-ani="swing"].ani-running{animation-name:ani-swing}
[data-ani="jello"].ani-running{animation-name:ani-jello}
[data-ani="wobble"].ani-running{animation-name:ani-wobble}
[data-ani="rubber-band"].ani-running{animation-name:ani-rubber-band}
